
<!-- for rails codes-->
<h1><%= link_to "Add Pet", new_pet_path, class: "nav-link", class: "button-main" %></h1>
<h1><%= link_to "Add Pet", new_pet_path, class: "nav-link", class: "button-secondary" %></h1>

<!-- normal HTML tags-->
<h1><button type="button" class="button-main">Primary</button></h1>
<h1><button type="button" class="button-secondary">Primary</button></h1>
